body {
    margin: 0;
    font-family:arial;
    letter-spacing: 2px;
    color: darkgray;
}
.bar {
    display:flex;
    align-items:center;
    border: bold 10rem black;
    background-color: skyblue;
    color: white;
    justify-content: space-between;
    padding: 20px;
    height: fit-content;
}

#title {
    font-weight:100;
    font-size:30px;
    
    
}

.bar div a {
    color:white;
    text-decoration: none;
    font-size:small;    
}
.bar .links {
    display:flex;
    justify-content: space-around;
    flex-grow:5;
    margin-left:100px;
}

#users {
text-transform:capitalize;
font-weight:bold;
}

h1 {
font-size: large;
font-weight: bold;
}





#form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 50%;
    padding: 1rem;
}

#enter {
    background-color: skyblue;
}

#input {
    padding: 10px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1rem;

}

.cards {
    display: flex;
    margin-top: 3rem;
    flex-wrap: wrap;
    
}
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    text-align: justify;
    padding: 1rem;
    border-radius: 1rem;
    width: calc(33% - 60px);
    flex-wrap: wrap;
    margin: 10px;
    
    

}
@media (max-width: 500px){
.cards{
    flex-direction: column;
}
.bar {
    flex-direction: column;  
    align-items:flex-start;
  
}
.links {
    flex-direction: column;
    justify-content: flex-start; 
}
form{
    align-items: flex-start;
    flex-direction: column;
}
}